<a href="https://colab.research.google.com/github/netostr/Sudoku/blob/main/sudoku.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Самое сложное судоку

In [3]:
import pandas as pd
table = pd.DataFrame([[8, 0, 0, 0, 0, 0, 0, 0, 0],
         [0, 0, 3, 6, 0, 0, 0, 0, 0],
         [0, 7, 0, 0, 9, 0, 2, 0, 0],
         [0, 5, 0, 0, 0, 7, 0, 0, 0],
         [0, 0, 0, 0, 4, 5, 7, 0, 0],
         [0, 0, 0, 1, 0, 0, 0, 3, 0],
         [0, 0, 1, 0, 0, 0, 0, 6, 8],
         [0, 0, 8, 5, 0, 0, 0, 1, 0],
         [0, 9, 0, 0, 0, 0, 4, 0, 0]])

col_iter1 = 0
col_iter2 = 0
table

   0  1  2  3  4  5  6  7  8
0  8  0  0  0  0  0  0  0  0
1  0  0  3  6  0  0  0  0  0
2  0  7  0  0  9  0  2  0  0
3  0  5  0  0  0  7  0  0  0
4  0  0  0  0  4  5  7  0  0
5  0  0  0  1  0  0  0  3  0
6  0  0  1  0  0  0  0  6  8
7  0  0  8  5  0  0  0  1  0
8  0  9  0  0  0  0  4  0  0

In [4]:
def research():
  global table, col_iter1, col_iter2
  for y in range(9):
    for x in range(9):
      if table.iloc[y,x] == 0:
        for n in range(1,10):
          x0 = x // 3 * 3
          y0 = y // 3 * 3
          if n not in table.iloc[y].tolist() and n not in table.iloc[:,x].tolist() and n not in sum(table.iloc[y0:y0+3, x0:x0+3].values.tolist(),[]):
             table.iloc[y,x] = n
             col_iter1 += 1
             research()
             table.iloc[y,x] = 0
          col_iter2 += 1
        return
  print(table)
  print(col_iter1)
  print(col_iter2)

In [ ]:
research()

   0  1  2  3  4  5  6  7  8
0  8  1  2  7  5  3  6  4  9
1  9  4  3  6  8  2  1  7  5
2  6  7  5  4  9  1  2  8  3
3  1  5  4  2  3  7  8  9  6
4  3  6  9  8  4  5  7  2  1
5  2  8  7  1  6  9  5  3  4
6  5  2  1  9  7  4  3  6  8
7  4  3  8  5  2  6  9  1  7
8  7  9  6  3  1  8  4  5  2
49558
445718